.row1 {
  padding-left: 30%;
  padding-top: 40px;
}

.row2 {
  display: grid;
  text-align: center;
  justify-content: space-evenly;
  grid-template-columns: 190px 190px 190px;

  grid-gap: 1px;
  column-span: all;
  padding: 0px;
  margin-top: 40px;
}

.card-title {
  text-align: start;
}

.card-action {
  text-decoration: none;
  background-color: #56559c;

  margin-top: 8px;
  padding: 5px 14px;
  text-align: center;

  display: inline-block;
}

.navlink {
  text-decoration: none;
  color: white;
}
.card {
  margin: 100%;
  width: 90%;
  border: 1px solid black;
  padding: 10px;
  margin-left: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filterbutton {
  padding: 5px 40px 5px;
  margin-left: 10px;
  background-color: #559c70;

  text-align: center;

  display: inline-block;
}

.searchtext {
  width: 300px;
  padding: 5px;
}
